<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>

    <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfWriting()}">VALUE</p>

    <div th:if="${owner}">
        <span>Книга сейчас у: </span>
        <span th:text="${owner.getName()}">Person name</span>

        <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
            <input type="submit" value="Освободить">
        </form>
    </div>

    <div th:if="${people}">
        <span>У книги сейчас нет владельца</span>
        <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
            <br/>
            <label for="person">Назначить владельца:</label>
            <select th:object="${person}" th:field="*{id}" id="person">
                <option th:each="person:${people}" th:value="${person.getId()}" th:text="${person.getName()}">
                    person
                </option>
            </select>
            <input type="submit" value="Назначить">
        </form>
        <br/>
    </div>

    <hr/>

    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="Редактировать">
    </form>

    <br/>

    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Удалить">
    </form>

    <br/>
    <a href="/books">К списку книг</a>
</body>
</html>